.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.presentation h1 {
    font-size: 3rem;
}

.presentation h2 {
    font-size: 2rem;
}

.presentation h2:last-child {
    margin-bottom: 2rem;
}

.presentation h1,
.presentation h2 {
    color: var(--text);
}

.name {
    margin-bottom: 2rem;
}

.presentation img {
    transition: .3s;
    width: 40px;
    height: 40px;
}

.presentation img:hover {
    transition: .2s;
}

.img {
    width: 700px;
    height: 400px;
}