.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    font-size: 4rem;
}
.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.title,
.subtitle {
    color: var(--text);
}

.githubLink::before {
    content: '' ;
    height: 30px;
    width: 30px;
    background: url('../../public/github.svg') no-repeat center center;
    z-index: 3;
}

.container a {
    padding: 1rem 2rem;
    background: var(--button);
    border-radius: 1rem;
    transition: .3s;
    color: black;
}

.container a:hover {
    background: var(--buttonHover);
    transition: .2s;
}