.paginationContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  button {
    padding: 0.875rem;
    border: none;
    font-family: var(--primary-font);
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: filter 0.2s ease-in;
    cursor: pointer;
    background-color: var(--button);
    color: var(--background);

    &:hover {
      filter: brightness(0.65);
      color: var(--text);
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  ul {
    display: flex;
    gap: 0.2rem;

    button {
      padding: 0.875rem;
      border: none;
      font-family: var(--primary-font);
      font-size: 1rem;
      border-radius: 0.5rem;
      transition: filter 0.2s ease-in;
      cursor: pointer;
      background-color: var(--buttonHover);
      color: var(--background);
      opacity: 0.7;

      &.active {
        background-color: var(--button);
        opacity: 1;
      }
    }
  }
}
