.sectionAbout {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    @media (max-width: 930px) {
        flex-direction: column;
        height: 100vh;
        margin-top: 2rem;
        gap: 0;

        @media (max-width: 500px) {
            margin-top: 0;
        }
    }

    .sectionAboutLeft {

        h1{
            color: var(--title);            
            font-family: var(--secondary-font);
            text-align: center;
            font-size: 2.5rem;
            
            @media (max-width: 500px) {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }

        .animation {
            @media (max-width: 500px) {
                display: none; 
            }
        }
    }  

    .sectionAboutRight {
        width: 80vh;

        @media (max-width: 1070px) {
            width: 40vw;  
        }

        @media (max-width: 930px) {
            width: 80vw;  
        }

        p {
            color: var(--text);
            font-family: var(--primary-font);
            font-size: 1.125rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 1rem;

            @media (max-width: 1000px) {
                font-size: 1rem;
            }
        }

        .btnAbout {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 850px) {
                margin-bottom: 1.5rem;
            }

            img {
                cursor: pointer;
            }
        }

    }    
}