.sectionAbout {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;
    
    @media (max-width: 850px) {
        flex-direction: column;
        overflow: auto;
        height: 100%;
        margin-top: 2rem;
    }

    .sectionAboutLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .2);
        border-radius: .5rem;
        padding: 2rem;
        height: 70vh;
        gap: 2rem;

        h1, h2{
            color: var(--text);            
            font-family: var(--secondary-font);
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    
        .imgPhoto {
            border-radius: 50%;
        }
    }  

    .sectionAboutRight {
        width: 70vh;

        p {
            color: var(--text);
            font-family: var(--primary-font);
            font-size: 1.125rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 1rem;
            animation: show-up .3s ease-in-out;
        }

        .btnAbout {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            animation: move-up .3s ease-in;

            @media (max-width: 850px) {
                margin-bottom: 2rem;
            }

            img {
                cursor: pointer;
            }
        }

    }    
}

@keyframes show-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-up {
    from {
        transform: translate3d(0, 180px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}