.sectionAbout {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    @media (max-width: 870px) {
        flex-direction: column;
        overflow: auto;
        height: 100%;
        margin-top: 2rem;
    }

    .sectionAboutLeft {

        h1{
            color: var(--title);            
            font-family: var(--secondary-font);
            text-align: center;
            font-size: 2.5rem;

            @media (max-width: 515px) {
                font-size: 1.5rem;
            }
        }
    }  

    .sectionAboutRight {
        width: 80vh;

        p {
            color: var(--text);
            font-family: var(--primary-font);
            font-size: 1.125rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 1rem;

            @media (max-width: 1000px) {
                font-size: 1rem;
                padding-right: 1rem;   
            }
        }

        .btnAbout {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 850px) {
                margin-bottom: 2rem;
            }

            img {
                cursor: pointer;
            }
        }

    }    
}