* {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --background: #111;
    --title: #6096BA;
    --text: #E7ECEF;
    --button: #16DB65;
    --buttonHover: #058C42;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Muli', sans-serif;
}

