* {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --title: #758173;
    --background: #080708;
    --text: #F5EFFF;
    --button: #47E5BC;
    --buttonHover: #81E4DA;
}