* {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --title: #EBEBED;
    --background: #080708;
    --text: #F5EFFF;
    --button: #55286F;
    --buttonHover: #210B2C;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Castoro', sans-serif;
    --type-font: Courier, monospace;
}

