.sectionContact {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    
    @media (max-width: 750px) {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h1 {
            color: var(--title);
            font-family: var(--secondary-font);
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
    
            @media (max-width: 862px) {
                margin: 1rem;
            }
        }

        .containerContact {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            @media (max-width: 850px) {
                width: 100%;
                padding-bottom: 1rem;
            }
    
            a {
                align-self: center;
                justify-self: center;
                display: flex;
                align-items: center;
                color: var(--button);
                transition: all .2s ease-in;
                font-family: var(--title);
                font-size: 2rem;
                
                &:hover {
                    color: var(--buttonHover);
                }                
            }
        }
    }       
}