.mainContainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;

    .mainLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text);
        height: 100%;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            font-family: var(--secondary-font);
        }

        h2 {
            font-size: 2rem;
            font-family: var(--secondary-font);
        }
    }
}