.mainContainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;
    padding: 0 2rem;

    .mainLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text);
        height: 100%;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            font-family: var(--type-font);
        }

        a {
            background: linear-gradient(125deg, rgba(255,255,255,1) 31%, rgba(204,204,204,1) 100%);
            padding: .5rem 1.5rem;
            border-radius: .5rem;
            color: black;
            font-size: 2.5rem;
            transition: all .3s ease-in-out;
            display: flex;
            align-items: center;

            &:hover {
                background: linear-gradient(125deg, rgba(85,40,111,1) 50%, rgba(33,11,44,1) 95%);
                color: #ccc;
            }
        }
    }
}