.mainContainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;
    padding: 0 5rem;

    @media (max-width: 862px) {
        height: 100vh;
        flex-direction: column;
        gap: 0;
    }

    .mainLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text);
        height: 100%;
        max-width: 45vw;

        div:first-child {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            span {
                color: var(--button);
                font-size: 2.5rem;
                font-family: var(--primary-font);
                font-weight: bold;
                opacity: .7;

                &:last-child {
                    align-self: flex-end;
                }
            }

            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
                font-family: var(--secondary-font);
    
                @media (max-width: 960px) {
                    font-size: 2rem;
                }
    
                @media (max-width: 862px) {
                    text-align: center;
                    margin-top: 2rem;
                }
            }
        }

        

        .mainLinks {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            @media (max-width: 862px) {
                margin: 2rem;
            }

            a {
                background: var(--button);
                border-radius: .5rem;
                color: black;
                transition: all .3s ease-in-out;
                display: flex;
                align-items: center;
                font-family: var(--primary-font);

                &:first-child {
                    padding: .5rem 3rem;
                    font-size: 2.5rem;

                    @media (max-width: 862px) {
                        font-size: 2rem;
                    }
                }

                &:last-child {
                    font-size: 1.5rem;
                    padding: .9rem 1.5rem;

                    @media (max-width: 862px) {
                        font-size: 1rem;
                    }
                }

                @media (max-width: 862px) {
                    font-size: 1rem;
                }
    
                &:hover {
                    background: var(--buttonHover);
                    color: var(--text);
                }
            }

            span {
                margin-right: .5rem;
            }
        }        
    }

    img {
        border-radius: 50%;

        @media (max-width: 650px) {
            height: 300px;
            width: 300px;
        }        
    }
}