.slideContainer {
    width: 47vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 862px) {
      height: 50vh;
    }

    .slideImg {
      border-radius: 1rem;
    }

    .next,
    .prev {
      top: 50%;
      position: absolute;
      background: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.125rem;
      z-index: 2;
    }
    
    .next {
      right: 10px;
    }
    
    .prev {
      left: 10px;
      transform: scale(-1);
    }
    
    img {
      position: absolute;
      max-width: 50vw;

      @media (max-width: 862px) {
        width: 100vw;
      }
    }
  }  
 