.projectContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;

    .projectTitle {
        align-self: flex-start;
        height: 500px;

        h1 {
            color: var(--title);
            margin-bottom: 1rem;
            font-family: var(--secondary-font);
            font-size: 2.5rem;
        }
    }

    .projectCardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: baseline;
        justify-content: center;
        gap: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 695px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }       

        .projectCard {
            width: 300px;
            text-align: center;
            background: rgba(0, 0, 0, .5);
            border-radius: .5rem;

            &:nth-child(1) {
                animation: show-up .3s ease-in;
            }
    
            &:nth-child(2) {
                animation: show-up .5s ease-in;
            }
    
            &:nth-child(3) {
                animation: show-up .7s ease-in;
            }
    
            &:nth-child(4) {
                animation: show-up .9s ease-in;
            }
    
            &:nth-child(5) {
                animation: show-up 1.1s ease-in;
            }
    
            &:nth-child(6) {
                animation: show-up 1.3s ease-in;
            }
    
            &:nth-child(7) {
                animation: show-up 1.5s ease-in;
            }
    
            &:nth-child(8) {
                animation: show-up 1.7s ease-in;
            }
    
            img {
                width: 300px;
            }

            h3 {
                color: var(--text);
                font-family: var(--secondary-font);
            }

            p {
                color: var(--text);
                margin: 1rem;
                font-family: var(--primary-font);
            }

            .projectLinks {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-bottom: 1rem;
                
                a {
                    color: var(--text);
                    font-size: 1.5rem;
                }
            }
        }
    }    
}

@keyframes show-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}