.projectContainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @media (max-width: 1130px) {
        flex-direction: column;
        height: 100%;
    }

    .projectTitle {
        align-self: flex-start;
        height: 500px;

        @media (max-width: 1130px) {
            align-self: center;
        }

        h1 {
            color: var(--title);
            margin-bottom: 1rem;
            font-family: var(--secondary-font);
            font-size: 2.5rem;

            @media (max-width: 1130px) {
                text-align: center;
            }
        }
    }

    .projectCardContainer {
        display: flex;
        flex-direction: column;

        @media (max-width: 1130px) {
            margin-bottom: 2rem;
        }
        
        .projectCardList {
            display: flex;
            gap: 2rem;

            @media (max-width: 700px) {
                flex-direction: column;
            }

            .projectCard {
                width: 300px;
                text-align: center;
                background: rgba(0, 0, 0, .5);
                border-radius: .5rem;
                animation: appearFromRight .3s ease-in;               

                img {
                    width: 300px;
                    transition: filter .2s ease-in;
                    filter: brightness(.85);
    
                    &:hover {
                        filter: none;
                    }
                }
    
                h3 {
                    color: var(--title);
                    font-family: var(--secondary-font);
                }
    
                p {
                    color: var(--text);
                    margin: 1rem;
                    font-family: var(--primary-font);
                }
    
                .projectLinks {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding-bottom: .5rem;
                    
                    a {
                        color: var(--button);
                        font-size: 1.5rem;
    
                        &:hover {
                            color: var(--buttonHover);
                        }
                    }
                }
            }              
        }
    }    
}

@keyframes appearFromRight {
    from {
        transform: translate3d(90px, 0, 0);
        opacity: 0;
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}